<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="parent">
        <div class="newin-child">
            <section class="newin">
                <h2>New In</h2>
                <span>Lorem ipsum dolor sit amet, consectetur.</span>
                <div class="items-list">
                    <ul>
                        <li>SOFA</li>
                        <li>LIGHTS</li>
                        <li>CHAIR</li>
                        <li>WARDBORE</li>
                        <li>ALL</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>

</html>