<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <div class="child-footer">
            <div class="box">
                <div class="footer-content">
                    <div class="footer-1">
                        <div class="footer-logo">
                            <img src="../../assets/Logo.svg" alt="">
                        </div>
                        <div class="footer-text">
                            <p>T3118 Doctors Drive,Los Angeles, California 90017 Customer Support: 01928402101 </p>
                        </div>
                        <div class="social">
                            <img src="../../assets/facebook.svg" alt="facebook">
                            <img src="../../assets/instagram.svg" alt="instagram">
                            <img src="../../assets/pinterest.svg" alt="pintrest">
                        </div>
                    </div>
                    <div class="footer-side">
                        <div class="footer-2">
                            <h2>Information</h2>
                            <p>About Us</p>
                            <p>Terms & Condition</p>
                            <p>Security & Privacy</p>
                            <p>Terms & Condition</p>
                            <p>Security & Privacy</p>
                        </div>
                        <div class="footer-3">
                            <h2>Element</h2>
                            <p>Column</p>
                            <p>Accordion and Toggle</p>
                            <p>Typography</p>
                            <p>Pie Chart</p>
                            <p>Pricing Table</p>
                        </div>
                        <div class="footer-4 hide">
                            <h2>Help</h2>
                            <p>Cancelation and Return</p>
                            <p>Pre Order Policy</p>
                            <p>How to Order</p>
                            <p>Frequent Query</p>
                            <p>Contact Us</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copy"><span>COPYRIGHT © 2023 MAYNOOTH, ALL RIGHTS RESERVED</span></div>
    </footer>
</body>

</html>