<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="center">
        <h2>Inspiration Ideas</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy!</p>
    </section>
    <div class="ideas">
        <div class="child-ideas">
            <div class="ideas-content">
                <!-- section one -->
                <div class="box one">
                    <div class="ideas-card">
                        <img src="../../assets/minh-pham-1.png" alt="">
                        <div class="popup1">Living Room</div>
                    </div>
                    <div class="ideas-text t1">
                        <h2>Trandy Tables</h2>
                        <p class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam </p>
                        <p class="non-content">Lorem ipsum dolor sit amet, consetetur.</p>
                        <button class="gbl-btn">View Items</button>
                    </div>
                </div>
                <!-- section two -->
                <div class="box two">
                    <div class="ideas-text t2">
                        <h2>Most Trandy Bed</h2>
                        <p class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam </p>
                        <p class="non-content">Lorem ipsum dolor sit amet, consetetur.</p>
                        <button class="gbl-btn">View Items</button>
                    </div>
                    <div class="ideas-card">
                        <img src="../../assets/turned-on-silver-macbook-on-white-bed-1.png" alt="">
                        <div class="popup2">Bed Room</div>
                    </div>
                </div>
                <!-- section three -->
                <div class="box one">
                    <div class="ideas-card">
                        <img src="../../assets/louis-hansel-shotsoflouis-gelCOOqEM-1.png" alt="">
                        <div class="popup1">Dining</div>
                    </div>
                    <div class="ideas-text t1">
                        <h2>Most Trandy Tables</h2>
                        <p class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam </p>
                        <p class="non-content">Lorem ipsum dolor sit amet, consetetur.</p>
                        <button class="gbl-btn">View Items</button>
                    </div>
                </div>
                <!-- section four -->
                <div class="box two">
                    <div class="ideas-text t2">
                        <h2>Popular Kitchen Item</h2>
                        <p class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam </p>
                        <p class="non-content">Lorem ipsum dolor sit amet, consetetur.</p>
                        <button class="gbl-btn">View Items</button>
                    </div>
                    <div class="ideas-card">
                        <img src="../../assets/pots-near-windowpane-on-white-wooden-cabinet-1.png" alt="">
                        <div class="popup2">Kitchen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>